# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Git
.git/
.gitignore

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Test cache
.pytest_cache/

# OS files
Thumbs.db
.DS_Store

# Build artifacts
build/
dist/

# Logs
*.log